
BasicDataStructures/.classpath

BasicDataStructures/.project

BasicDataStructures/.settings/org.eclipse.jdt.core.prefs

.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.projects/BasicDataStructures/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/BasicDataStructures/.syncinfo.snap

.metadata/.mylyn/repositories.xml.zip

*.snap

*.index

*.resources

*.prefs

*.fdt

*.fdx

*.fnm

*.frq

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js

.metadata/version.ini

RemoteSystemsTempFiles/.project

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js

*.mark

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.polinas-macbook-pro_263300/FP.local.files_0/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.polinas-macbook-pro_263300/H.local_16/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.polinas-macbook-pro_263300/node.properties

.metadata/.plugins/org.eclipse.rse.ui/.log

.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.rse.core/.log

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js

.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat

BasicDataStructures/bin/com/data/structutes/simple/queue/MainExecutionPoint.class
